body {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover,
a :focus {
  opacity: 0.6;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  margin: 0 2rem;
}
.icon {
  width: 24px;
  height: 24px;
  margin-right: 2rem;
}
header > a.mail {
  display: flex;
  align-items: center;
}
header > nav > a {
  margin-right: 2rem;
}

header > nav > a:last-child {
  margin-right: 0;
}
/* 2nd section of photoes */

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgb(221, 233, 240);
  margin-bottom: 1rem;
}

.h3 {
  font-size: 1.5rem;
  line-height: 1.3em;
  margin-top: 0.5rem;
}
.h2 {
  font-size: 3.63rem;
  line-height: 1em;
}
.p1 {
  font-size: 1.525rem;
  line-height: 1.3em;
}
.btn {
  font-size: 1.125rem;
  font-weight: 400px;
  border-style: none;
  line-height: 20px;
  border-radius: 5rem;
  background-color: black;
  color: white;
  padding: 20px 40px;
  margin-bottom: 3rem;
}
button:hover {
  background-color: rgb(240, 231, 231);
  color: rgb(80, 145, 145);
  box-shadow: 0, 4px, -5px rgba(red, green, blue, alpha);
}
.all {
  width: 775px;
}

/* <!-- 3nd section of imagies --> */
section#imagies {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  background-color: rgb(231, 238, 240);
  gap: 2rem;
}

section#imagies img {
  object-fit: cover;
  width: 100%;
}

section#imagies > img:nth-child(2) {
  grid-row: 2 span;
}

/* <!-- 4nd section of clients --> */
.head {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 0 2rem;
}
/* <!-- 5th section of clients --> */
section#services > .servi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
section#services > div.allline {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}
section#services {
  background-color: rgb(232, 240, 245);
}
div.para-service {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 6th section of Resume  */
section#about h2.resum {
  align-items: center;
}
section#about > Div.space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
section#about > div.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: space-around;
  margin: 2rem;
}
section#about > div.skil > Div.breck {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
section#about > div.skil > div.grids {
  display: flex;
  justify-content: space-around;
}
section#about > div.tool > div.pr {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: space-around;
}
section#about > div.tool > div.pr > div.joker {
  display: flex;
}
/* <!-- 6th section of Work --> */
section#work h2.thework {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}
body {
  max-width: 1200px;
}
.row-box {
 display: grid ;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:repeat(2,auto) ;
  align-items: center;
  justify-content: center;
}
